@import "tailwindcss";

body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

canvas {
  display: block;
}

button {
  padding: 10px 20px;
  font-size: 14px;
  margin-bottom: 5px;
  cursor: pointer;
}